<form action="/entities" method="post">
	<input type="text" name="name"></input><br>
	<input type="hidden" value="<%= model.id %>" name="owner" ></input>
	<input type="submit" value="Add"></input>
</form>

