<form action="/fields" method="post">
	<input type="name" name="name" placeholder="Name"></input><br>
	<input type="type" name="type" placeholder="type"></input><br>

	<input type="hidden" name="holder" value="<%=model.id%>"></input>

	<input type="submit" value="Add"></input>
</form>