<form action="/tenents" method="post">
	<input type="text" name="name"></input><br>
	
	<input type="submit" value="Add"></input>
</form>

<!-- <form action="/entities/new" method="get">
	<input type="submit" value="Add Entities"></input>
</form> -->